[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = ">=0.2.0"
langchain-core = ">=0.2.0"
langchain-openai = ">=0.2.0"
langchain-community = ">=0.2.0"
langchain-chroma = ">=0.1.0"
chromadb = "*"
openai = "*"
python-dotenv = "*"
tiktoken = "*"


[dev-packages]

[requires]
python_version = "3.11"
