# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/*/.env
/*/.idea
/*/*/.env
/*/*/.idea
/05 File Search/emb/*
/05 File Search/__pycache__/*
/09 Documentation Chat/langchain-docs/*
/09 Documentation Chat/faiss*
/09 Documentation Chat/__pycache__/*